# version
# Betaflight / FURYF4OSD (FY4O) 4.0.0 Dec  9 2018 / 00:36:36 (4442de559) MSP API: 1.41

board_name FURYF4OSD
manufacturer_id

# name
name voland

# resources
resource LED_STRIP 1 NONE
resource CAMERA_CONTROL 1 A00

# mixer

# servo

# servo mix


# feature
feature TELEMETRY
feature AIRMODE

# beeper

# beacon
beacon RX_LOST
beacon RX_SET

# map

# serial
serial 2 2048 115200 57600 0 115200
serial 5 32 115200 57600 0 115200

# led

# color

# mode_color

# aux
aux 0 0 0 1900 2100 0 0
aux 1 13 1 1800 2100 0 0

# adjrange
adjrange 8 0 3 900 1300 12 3 0 0
adjrange 9 1 3 1300 1725 12 3 0 0
adjrange 10 2 3 1725 2100 12 3 0 0

# rxrange

# vtx

# rxfail

# master
set gyro_lowpass_hz = 100
set acc_hardware = NONE
set rssi_channel = 7
set rx_min_usec = 954
set dshot_idle_value = 500
set motor_pwm_protocol = DSHOT600
set failsafe_delay = 10
set failsafe_throttle = 1070
set bat_capacity = 1300
set vbat_min_cell_voltage = 34
set vbat_warning_cell_voltage = 36
set current_meter = ADC
set vbat_scale = 109
set ibata_offset = 30
set ibatv_scale = 108
set yaw_motors_reversed = ON
set small_angle = 180
set pid_process_denom = 1
set osd_tim1 = 0
set osd_tim2 = 1
set osd_vbat_pos = 2093
set osd_rssi_pos = 2098
set osd_tim_1_pos = 55
set osd_tim_2_pos = 2101
set osd_flymode_pos = 505
set osd_g_force_pos = 65
set osd_ah_pos = 110
set osd_current_pos = 2167
set osd_mah_drawn_pos = 2136
set osd_pid_roll_pos = 449
set osd_pid_pitch_pos = 481
set osd_warnings_pos = 2409
set osd_adjustment_range_pos = 492
set osd_stat_max_spd = OFF
set osd_stat_endbatt = ON
set osd_stat_battery = ON
set osd_stat_bbox = OFF
set osd_stat_bb_no = OFF
set debug_mode = FFT_FREQ
set vtx_channel = 2
set vtx_power = 4
set vtx_freq = 5760
set vcd_video_system = PAL
set camera_control_ref_voltage = 319
set usb_hid_cdc = ON

# profile
profile 2


# rateprofile
rateprofile 0

set roll_srate = 43
set pitch_srate = 43
set yaw_srate = 25
set tpa_rate = 10
set tpa_breakpoint = 1650
set tpa_mode = PD